p
{
font-family:
Verdana,Tahoma,sans-serif;
font-size:
10;
}
div.title
{font-family:Tahoma,sans-serif;
font-size:28px;
font-weight:bold;
letter-spacing:-2px;
margin-top:0px;
}
  #header { 
    position:absolute; 
    height: 175px; 
    left:0; 
    top:0; 
    width:100%; 
/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top, #D7DBF6 0%, #EEF2FE 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #D7DBF6 0%, #EEF2FE 100%);

/* Opera */ 
background-image: -o-linear-gradient(top, #D7DBF6 0%, #EEF2FE 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #D7DBF6), color-stop(1, #EEF2FE));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #D7DBF6 0%, #EEF2FE 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom, #D7DBF6 0%, #EEF2FE 100%);
  }

  #content { 
    position: absolute; 
    top:175px; 
    bottom:-800px; 
    left:0;
    width:100%;
    background:#EEF2FE; 
  }

  #box1 { 
    height:50%; 
    width:30%; 
    float:left; 
    background:#EEF2FE; 
  }
  /* CSS RESET CODE */
  /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html, body, #container { height: 130%; }
body > #container { height: auto; min-height: 100%; }
#footer {
 clear: both;
 position: relative;
 z-index: 10;
 height: 2em;
 margin-top: -2em;
}
#wrap { padding-bottom: 3em; }
#footer { background-color: #EEF2FE;
text-align:center; }
p.large
{font-size:
2em;}
p.small
{font-size:
0.8em;}
