a:link {color:#363755;}
a:hover {color:#BD061C;}
a.black:hover
{color:black;}
body
{
background:#EEF2FE;
}
table.center
{ 
margin-left: auto;
margin-right: auto;
font-size: 2em;
}
p.subtitle
{
text-decoration:underline;
text-align:center;
font-size: 1.7em; 
} 
p.subsubtitle
{font-weight:bold;
 font-size: 1.3em;
 }
 p.indent
 {
 font-size: 1.2em;
 margin-right:60px;
 text-indent:50px;
 line-height:110%
 }
 
 li.squareindent
 {
  margin-right:60px;
 text-indent:30px;
 list-style-type:square;
  font-size: 1.2em;
  line-height:110%
 }
  li.square
 {
  margin-right:60px;
 list-style-type:square;
  font-size: 1.2em;
  line-height:110%
 }
 ul.marginalt
 {
 margin-left: 550px;
 }
  ul.margin
 {
 margin-left: 325px;
 }
img.floatleft
{
float:left;
margin-left: 5px;
}
img.floatright
{
float:right;
margin-right: 5px;
}
img.center
{
    display: block;
    margin-left: auto;
    margin-right: auto 
	}

div.title
{font-family:Tahoma,sans-serif;
font-size:28px;
font-weight:bold;
letter-spacing:-2px;
margin-top:0px;
}
  #header { 
    position:absolute; 
    height: 125px; 
    left:0; 
    top:0; 
    width:100%; 
/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top, #D7DBF6 0%, #EEF2FE 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #D7DBF6 0%, #EEF2FE 100%);

/* Opera */ 
background-image: -o-linear-gradient(top, #D7DBF6 0%, #EEF2FE 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #D7DBF6), color-stop(1, #EEF2FE));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #D7DBF6 0%, #EEF2FE 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom, #D7DBF6 0%, #EEF2FE 100%);
  }

  #content { 
	line-height:110%;
	font-size: .9em;
	font-family:
	Verdana,Tahoma,sans-serif;
    position: relative; 
    top:125px; 
    left:0;
    width:100%;
    background:#EEF2FE; 
  }

  #box1 { 
    text-decoration:none;
	line-height:110%;
  	font-size: 1.25em;
	font-family:
	Verdana,Tahoma,sans-serif;
    background:#EEF2FE;
    height:300px; 
    width:15%; 
    float:left; 
	margin:.3em;
  }
  /* CSS RESET CODE */
  /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html, body,{ height: 100%; }
footer.center
{text-align:center;}
